@media (max-width:768px){
    section{
        display: flex;
        flex-direction: column;
    }

    .text-container{
        text-align: center;
        margin: 0;
        margin-bottom: 6rem;
    }

}